<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/cesium/Widgets/widgets.css">
    <script src="/static/cesium/Cesium.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RakshaGIS</title>
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🗺</text></svg>" />
    <link rel="manifest" href="/static/manifest.json" />
    <script type="module" crossorigin src="/static/assets/index-ClCE_SQK.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/react-9ZN0GYPD.js">
    <link rel="modulepreload" crossorigin href="/static/assets/geotiff-DbTpGV5t.js">
    <link rel="modulepreload" crossorigin href="/static/assets/antd-y_J0jo0j.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index-DwDfKpYD.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
